/* Background is set using gradient */
body{
    background-image: linear-gradient(rgb(81, 81, 255), rgb(126, 187, 207));
    background-attachment:fixed;
}
/* The error message is set to display in red text, other messages display in green*/
p.error{
    color:rgb(199, 0, 0);
}
p.message{
    color:rgb(20, 115, 1);
}
/* The upper section is giving a background and spacing. the background is mostly transparent to let the gradient come through */
div.top{
    background-color:rgba(255, 255, 255, 0.608);
    max-width:825px;
    min-width:325px;
    margin:20px;
    padding-right:20px;
    padding-left:20px;
    padding-top:5px;
    text-align:center;
    font-family:Garamond
}
/* The container div is set as a grid so that the todo items are properly spaced. */
div.container{
    padding-left:30px;
    display:grid;
    grid-template-columns: 280px 280px 280px;
}
/* Each todo box is given its own spacing and displayed as inline-blocks, i have given each a gradient and shadow for aesthetics */
div.todo_box{
    background-image: linear-gradient(to bottom right, rgb(252, 253, 209), aliceblue);
    margin:5px;
    width:250px;
    display:inline-block;
    padding:10px;
    box-shadow: 5px 5px black;
    font-family:Garamond
}
/* The form in each todo is set to inline, but the input box within the form is set as a block. */
/* This allows the edit button to sit inline with the other buttons, while keeping the input box separate */
div.todo_box>form{
    display:inline;
}
div.todo_box>form>input{
    display:block;
}
/* h3 is used for the main text of each todo, i gave it word wrap to prevent it spilling out of the todo notes */
h3{
    word-wrap:break-word;
}
/* The buttons and the icons within them have different classes. The icon class is used to properly size the images */
/* The iconbutton class is used to give the button itself proper spacing and appearance, including a change on hover */
img.icon{
    max-width:30px;
    max-height:30px;
    padding-top:5px;
}
button.iconbutton{
    background:none;
    border:none;
    margin-top:15px;
    margin-right:19px;
    margin-left:19px;
}
button.iconbutton:hover{
    background-color:rgba(0, 242, 255, 0.224);
}